#nav-ppal{
	@extend .container-xxl;
	@extend .navbar;
	@extend .navbar-expand-lg;
	@extend .navbar-light;
}

// Todos los <li> que tengan una clase que empieza con bi-
li[class*='bi-']{

	// no quiero el bullet
	list-style: none;
	// le pido pos relativa
	@extend .position-relative;

	// trabajo sobre la pos del icono
	&::before{
		@extend .position-absolute;
		left:-$spacer*2.5;
		font-size: $spacer*2;
	}
}